header{
    background: #1c487B;
    color: #fff;
    padding: 40px 0px
}

.facebook-bg{
  background: #365397;
}

.twitter-bg{
  background: #00a9f1;
}

.instagram-bg {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.youtube-bg{
  background: #e0452c
}

.overlay-right {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 0px;
    background-color: rgba(12, 29, 34, 0.753);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 8s ease;
  }
  
  .img-container:hover .overlay-right {
    width: calc(100% - 10px);
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #fff;
    background: #1c4779;
    padding: 10px 20px;
    font-size: 14px
  }

  .column a:hover{
    text-decoration: none
  }

  /* .text a{
    color: #fff;
    background: rgb(18, 151, 192);
    padding: 10px 20px;
    font-size: 16px
  } */

  .text a:hover{
    text-decoration: none
  }

  .overlay-left {
    left: 100%;
    transition: .5s ease;
  }

  main{
      margin-top: 25px
  }
  .overlay-center {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    background-color: rgba(12, 29, 34, 0.753);
    overflow: hidden;
    width: calc(100%-45px);
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  }
  
  .img-container:hover .overlay-center {
    transform: scale(1);
  }

  .overlay-down {
    position: absolute;
    bottom: 100%;
    left: 5px;
    right: 5px;
    background-color: rgba(12, 29, 34, 0.753);
    overflow: hidden;
    width: calc(100%-30px);
    height:0;
    transition: .5s ease;
  }
  
  .img-container:hover .overlay-down {
    bottom: 0;
    height: 100%;
  }
  
  .social-nav {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
  }

  .social-nav ul li a i{
    background: #fff !important
  }

  
.circle-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    color: #fff;
    font-size: 20px
}

footer{
    background: #1c4779;
    text-align: center
}

.column{
    padding-right: 5px !important;
    padding-left: 5px !important;
    /* box-shadow: 0px 8px 6px -6px black */
}

h5{
  font-size: 16px
}
/* color */

.transparent{
  color: transparent;
}

.column hr{
  width: 50%
}
.column span{
  color: rgb(112, 112, 112)
}
.column h5{
  font-weight: bold
}

.zephyrgold h5{
  color: rgb(31, 73, 125);
}
.zephyrgold hr{
  background: rgb(31, 73, 125);
}

.ict hr{
  background: #02AFD9
}
.ict h5{
  color: #01AED8
}

.evesland h5{
  color: #323298
}
.evesland hr{
  background: #323298
}

.rowland h5{
  color: #005799;
}

.rowland hr{
  background: #2CC1C8;
}

.rowland span{
  color: #2CC1C8;
}

.food hr{
  background: rgb(192, 0, 0)
}

.food h5{
  color: rgb(192, 0, 0)
}

.ra-p hr{
  background: #0062BA
}

.ra-p h5{
  color: #0062BA;
}

.alfanar h5{
  color: #0D4FA7;
}

.alfanar hr{
  background: #0D4FA7
}

.kolpakov h5{
  color: #2D16DC
}

.kolpakov hr{
  background: #2D16DC
}

.ghazanfar hr{
  background: #005CA1
}

.ghazanfar h5{
  color: #005CA1
}

.amadeus h5{
  color: #00457D
}

.amadeus hr{
  background: #00457D
}

.zamil h5{
  color: #0273B8
}

.zamil hr{
  background: #0273B8
}

.home h5{
  color: #0084D8
}

.home hr{
  background: #0084D8
}

.footer-logo{
  font-size: 1.5em
}

.footer-logo span{
  font-weight: bold
}



@media(max-width: 800px){
  .footer-logo{
    font-size: 2em
  }
  .footer-secondary, .footer-website{
    font-size: 14px;
    margin-top: 4px
  }
}


@media(max-width: 500px){
  .footer-logo{
    font-size: 1.3em
  }
  
  .footer-secondary, .footer-website{
    font-size: 12px;
    margin-top: 4px
  }
}